@model IEnumerable<HogeschoolPXL.Models.Inschrijving>

@{
    ViewData["Title"] = "Index";
}

<h1>lijst van Inschrijvingen</h1>
<br />
<form  asp-action="Index" method="get" class="search" >
  <p class="midden">search :</p>  @Html.TextBox("Search") <input class="form-control mr-sm-2" type="submit" value="Search" type="Search" style="width: auto;"/>
 </form>
 <br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VakLectorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademieJaarId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Gebruiker.VoorNaam ) @item.Student.Gebruiker.Naam
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.vakLector.Lector.Gebruiker.VoorNaam )  @item.vakLector.Lector.Gebruiker.Naam -  @item.vakLector.vak.VakNaam 
            </td>
            <td>
                @item.academieJaar.StartDatum.ToString("dd/MM/yyyy")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InschrijvingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InschrijvingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InschrijvingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
