@model IEnumerable<HogeschoolPXL.Models.VakLector>

@{
    ViewData["Title"] = "Index";
}

<h1>lijts van vakken van de lector </h1>
<br />
<form  asp-action="Index" method="get" class="search" >
  <p class="midden">title:</p>  @Html.TextBox("Search") <input class="form-control mr-sm-2" type="submit" value="Search" type="Search" style="width: auto;"/>
 </form>
 <br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LectorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VakId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lector.Gebruiker.VoorNaam) @item.Lector.Gebruiker.Naam
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vak.VakNaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VakLectorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VakLectorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VakLectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
