@model IEnumerable<HogeschoolPXL.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>studente lijst</h1>
<br />
<form action="/Students/Index" method="get" class="search" >
    @Html.TextBox("Search") <input class="form-control mr-sm-2" type="submit" value="Search" type="Search" style="width: auto;"/>
        </form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GebruikerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruiker.VoorNaam) @item.Gebruiker.Naam
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
